@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Knewave&display=swap');


.knewave-regular {
    font-family: "Knewave", system-ui;
    font-weight: 400;
    font-style: normal;
  }



html {
    scroll-behavior: smooth;
}

