@import "tailwindcss";

html {
    scroll-behavior: smooth;
}


a.active hr {
    display: block;
}


@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: white;
    }
}


::-webkit-scrollbar {
    display: none;
}


img {
    transition: transform 0.1s ease-out;
  }
  


#LoginEmail:invalid{
    border-color: red;
}

#LoginEmail:invalid{
    border-color: red;
}

